* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

.container {
    background-color: #18191A;
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #18191A;
    width: 310px;
    height: 500px; 
}

.box-title {
    padding-bottom: 10px;
    text-align: center;
}

h1 {
    letter-spacing: 0.8px;
    padding-bottom: 10px;
}

.box-header {
    background-color: #4E4F50;
    height: 120px;
}

.label {
    font-size: 1.8em;
    border-style: none;
    text-align: right;
    background-color: #4E4F50;
    float: right;
    height: 60px;
    width: 300px;
    line-height: 60px;
}

.box-result {
    font-size: 1.0em;
    border-style: none;
    text-align: right;
    background-color: #4E4F50;
    float: right;
    height: 60px;
    width: 310px;  
    line-height: 60px;
    color: #ccc;
}

.label:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.box-body {
    background-color: #4E4F50;
    height: 380px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.box-body > .btn-operation:first-child {
    font-size: 1.2em;
}

.btn {
    width: 60px;
    height: 60px;
    text-align: center;
    margin-top: 10px;
    font-size: 1.4em;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border: 1px solid #18191A;
}

.btn:hover {
    border: 1px solid #FFF;
}

.btn-number {
    background-color: #18191A;
}

.btn-operation, .btn-actions{
    background-color: #343839;
    border: 1px solid #18191A;
}

.btn-actions {
    font-size: 1em;
}

.label {
    padding-right: 20px;
}

footer {
    display: flex;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height:5vh;
    background-color: #18191A;
}

footer a {
    color: #FFFFFF;
}
